table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  border: 1px solid;
  text-align: left;
}

tr:hover {
  background-color: beige;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}