{% extends 'jobs/base.html' %}

{% block title %}Job Detail{% endblock title %}

{% block content %}

<h1>{{ object }}</h1>

<table>
  <tr>
    <th>Hourly Rate</th>
    <td>£{{ object.hourly_rate|floatformat:2 }}</td>
  </tr>
  <tr>
    <th>Number of Shifts</th>
    <td>{{ object.shift_count|default:0 }}</td>
  </tr>
  <tr>
    <th>Total Hours</th>
    <td>{{ object.total_hours|default:0 }} hours</td>
  </tr>
  <tr>
    <th>Total Income</th>
    <td>£{{ object.total_income|floatformat:2 }}</td>
  </tr>
</table>


<h2>Shifts</h2>

{% if shifts %}
<table>
  <tr>
    <th>Date</th>
    <th>Start</th>
    <th>Length</th>
    <th>Income</th>
    <th>Actions</th>
  </tr>
  {% for shift in shifts %}
    <tr>
      <td>{{ shift.start|date:"D d M Y" }}</td>
      <td>{{ shift.start|date:"f" }}</td>
      <td>{{ shift.length|floatformat }} hours</td>
      <td>£{{ shift.income|floatformat:2 }}</td>
      <td>
        <a href="{% url 'shift_delete' object.pk shift.pk %}">Delete</a>
        <a href="{% url 'shift_update' object.pk shift.pk %}">Update</a>
      </td>
    </tr>
  {% endfor %}
</table>
{% else %}
<p>There are no shifts for {{ job }} yet, click the link below to create one.
{% endif %}
<p>
  <a href="{% url 'shift_create' object.pk %}">Create Shift</a>
</p>

{% endblock content %}