{% extends 'jobs/base.html' %}

{% block title %}Create Shift{% endblock title %}

{% block content %}

<h1>Create Shift</h1>
<p>Use this form to create or update a shift and track your earnings. Date and time should be entered in the format DD/MM/YYYY HH:MM:SS. Also, length should be a decimal number representing the hours worked. For example, 1 hr 45 mins is equal to 1.75 hours.</p>

<form method="post">
{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Create">
<input type="hidden" name="next" value="{{ next }}">
</form>

{% endblock content %}